.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.main-cnt{
    padding: 50px;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px;
}

.txtt{
    color: grey;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

h1{
    padding-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.field1{
    width: 29rem;
    padding: 9px 10px;
    font-size: 16px;
    border: 1px solid #dad5d5;
    border-radius: 12px;
    outline-color: #3aa0c1;
}
input{
    border: 1px solid rgb(85, 82, 82);
    border-radius: 12px;
}
svg{
    width: 30px;
    fill: gray;
}

.row1{
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

select{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 12px;
    width: 18rem;
    background: white;
}
.borderDiv{
    padding: 7px 13px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    width: 148px;
    gap: 6px;
    border: 1px solid gray;
    border-radius: 12px;
    background: white;
}

.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 10px;
}

.row2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 5px;
    gap: 4px;
    border-radius: 10px;
    background-color: white;
}

.row2 input{
    width: 174px;
    border-radius: 6px;
    border: none;
    outline-style: none;
    background: none;
}

.row3{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.row3 textarea{
    padding: 12px 4px;
}

textarea{
    outline-color: #3aa0c1;

    border-radius: 8px;
}

button{
    margin: 0 auto;
    padding: 8px 40px;
    background-color: #5b5bdc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 14px;
    transition: 0.8s ease;
}

button:hover{
    background-color: rgba(50, 48, 48, 0.479);
}

.prev{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    border: 1px solid #dad5d5;
    align-items: center;
}

.btn-row{
    padding-top: 12px ;
    gap:60px;
    display: flex;
}

.tracker {
    margin-top: 30px;
    display: flex;
    gap: 12px;
    font-size: 16px;
}

.cross{
    position: relative;
    bottom: 38px;
    left: 252px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    
    img{
        mix-blend-mode: multiply;
    }
    body{
        background-color: blanchedalmond;
    }
    .main-cnt{
        box-shadow: none;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    select{
        width: 12rem;
    }
    .field1{
        width: 100vw;
    }
    textarea{
        width: 100vw;
    }
    .row2 div{
        width: 10.4rem;
    }
}