.container3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-cntttt{
    padding: 50px;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px;
}

.main-text{
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
}
.toptext{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.col-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item1{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.text-col{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.btn-row{
    margin-top: 12px;
    gap: 60px;
    display: flex;
    width: fit-content;
}
span{
    color: grey;
}

@media screen and (max-width:600px) {
    .main-cntttt{
        box-shadow: none;
        border: 0;
        
    }
    .item1{
        padding: 49px 18px;
        width: 100vw;
        background: white;
    }
    .cross{
        display: none;
    }
    .btn-row{
        width: auto;
        margin: 0 auto;
    }
}